<app-menu></app-menu>

<div class="pagina">
      <header>
        <h1>Pomar | Movimento</h1>
      </header>
      <form [formGroup]="movimento">
         <div>
            <mat-form-field appearance="outline" color="warn">
                <mat-label>Data do movimento</mat-label>
                <input matInput formControlName="dt_movimento">
             </mat-form-field>
            
            <mat-form-field appearance="outline" color="warn">
               <mat-label>Tipo</mat-label>
               <input matInput formControlName="tipo">
            </mat-form-field>
            
            
         </div>
                
         <div class="controles" >
            <button mat-raised-button color="accent" [disabled]="movimento.enabled"  (click)="onIncluir()">Incluir</button>
            <button mat-raised-button color="accent" [disabled]="movimento.invalid"  (click)="onSalvar()">Salvar</button>
            <button mat-raised-button color="accent" [disabled]="movimento.disabled" (click)="onCancelar()">Cancelar</button>
         </div>
</form>
<div class="relat">
      <h2>Movimentos cadastrados</h2>
      <table>
         <tr>
            <th>Ação</th>
            <th>Data do movimento</th>
            <th>Tipo</th>
         </tr>
         <tr *ngFor="let movimento of relat">
            <td><button>Excluir</button></td>
            <td>{{movimento.dt_movimento}} </td>
            <td>{{movimento.tipo}}</td> 
         </tr>
      </table>
</div>
             
   

