.fundo{
    width: 100vw;
    height: 100%;
    background-image: url('/assets/img/fundo-login.jpg');
    background-size: cover;
    border:1px green solid;
}

 
 
 .login form button{
     background-color: rgb(255, 163, 43);
     color: black;
     border-radius: 5px;
     border:black solid;
     margin-top: 30px;
     margin-left: 200px;
     height: 80px;
     width: 150px;
     font-size: 50px;
 }
 
 
 .login form input{
     background-color: orange;
     border-radius: 5px;
     border:black solid;
     display: flex;
     justify-content: space-evenly;
     flex-direction: column;
     width: 280px;
     height: 60px;
     margin-top: 30px;
     margin-left: 140px;
     
 }
 
 ::placeholder{
     color: black;
     
 }
 
 footer p{
     margin-left: 150px;
     width: 255px;
     height: 60px;
     font-size: large;
     margin-top: 50px;
 }
 
 
 
 
 
 
 