<app-menu></app-menu>
<div class="pagina">
  <header>
    <h1>Home 🏠</h1>
  </header>
  <div class="relatorio">
    <h2>Estoque</h2>
    <table [cellSpacing]="0">
      <tr>
        <th>Ação</th>
        <th>Material</th>
        <th>Quantidade</th>
      </tr>
      <tr *ngFor="let home of relatorio">
        <td><button>Excluir</button></td>
        <td>{{ home.p_descricao }}</td>
        <td>{{ home.quantidade }}</td>
      </tr>
    </table>
  </div>

  <div class="bem">
    <img src="/assets/img/bem.png " />
  </div>
  <div class="caixa">
    <img src="/assets/img/caixa.png " />
  </div>
  

</div>