
html,body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(222, 231, 221) ;*/
 }

.pagina{
    width: calc(100vw - 15vw);
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    

}
