<div class="sidebar">
    <header>
        <img src="/assets/img/tangerina.png">
        <button class="logout">Sair</button>
    </header>
    <nav>
        <details>
            <summary routerLink="/home">Home</summary>
        </details>
        <details>
            <summary>Administração</summary>
            <a routerLink="/cadUsuario">Usuário</a>
            <a routerLink="/material">Material</a>
            <a routerLink="/produto">Produto</a>
        </details>
        <details>
            <summary>Pomar</summary>
            <a routerLink="/cadastro">Cadastro</a>
            <a routerLink="/movimento">Movimento</a>
            <a routerLink="/colheita">Colheita</a>
            <a routerLink="/arvore">Árvore</a>
            
        </details>

    </nav>
</div>


